.author-social-links ul {
    display: inline-flex;
}
.author-social-links li {
      margin: auto 7px;
}
      .author-social-links a {
        transition: all 0.1s ease-out;
        color: rgb(80, 80, 80);
      }
        .author-social-links a .instagram:hover {
          color: #e95950;
        }
        .author-social-links a .facebook:hover {
          color: rgb(66, 103, 178);
        }
        .author-social-links a.twitter:hover {
          color: rgb(56, 161, 243);
        }
        .author-social-links a .google:hover {
          color: rgb(221, 75, 57);
        }
        .author-social-links a .linkedin:hover {
          color: rgb(0, 119, 181);
        }
      
